<div id="main">
  <div id="contentwrapper">
<br/><br/><br/>
<div id="content">
  <center>
  <ul id="menu">
    <li><a href="http://twitter.com/lee337reilly"><img src="images/twitter.png" alt="Follow me on Twitter" /></a></li>
    <li><a href="http://facebook.com/lee337reilly"><img src="images/facebook.png" alt="Annoy me with your Farmville updates on Facebook" /></a></li>
    <li><a href="http://www.linkedin.com/in/lreilly"><img src="images/linked_in.png" alt="Connect with me on LinkedIn" /></a></li>
  </ul>
  </center>
</div>
  </div>
</div>
<br/>
<div id="sidebars">
<div id="sidebar_full">
<ul>
 <li><div id="about">
 <div class="sidebarbox">
 <h2 id="mememe">("me "*3).rstrip</h2>
 <p><span id="mememe-content">I am a software engineer working for Lawrence Livermore National Laboratory at the DOE Joint Genome Institute</span> 
 [<a href="http://www.youtube.com/watch?v=qchN5FX_QN0&hd=1" rel="prettyPhoto" title="">more</a>]</p>
 </div></div>
 </li>
</ul>
</div><!-- Closes Sidebar_full -->

<div id="sidebar_full">
<ul>
 <li><div id="about">
 <div class="sidebarbox">
 <h2>Digital Media Library</h2>
 <p><strong>Familia y amigos</strong> - all of our photos & videos are available on reillylife.com. Email me for the password!</p>
 </div></div>
 </li>
</ul>
</div><!-- Closes Sidebar_full -->

<div id="sidebar_left">
<ul>

<li>
<div class="sidebarbox">
<h2 id="Radio?">#<acronym title="What's The Frequency (Kenneth)">wtf</acronym><!-- Honest 'gov--></h2>
<p><center>&uarr;<br />&uarr;<br />&darr;<br />&darr;<br />&larr;<br />&rarr;<br />&larr;<br />&rarr;<br />&#66;<br />&#65;<br />START</center></p>
</div>
</li>

</ul>

</div> <!-- Closes Sidebar_left -->

<div id="sidebar_right">

<ul>

<li>
<div class="sidebarbox">
<h2 id="uc">NB</h2>
<p>Watch this space.</p>
</div>
</li>

</ul>

</div> <!-- Closes Sidebar_right -->


<div class="cleared"></div>
</div> <!-- Closes Sidebars -->
</div>
