<div id="main">
  <div id="contentwrapper">
<br/><br/><br/>
<div id="content">
<center><img src="images/family-tree.png"></center>
</div>
  </div>
</div>
<br/>
<div id="sidebars">

<center>
<ul id="menu">
  <li><a href="http://twitter.com/lee337reilly"><img src="images/twitter.png" alt="Follow me on Twitter" /></a></li>
  <li><a href="http://facebook.com/lee337reilly"><img src="images/facebook.png" alt="Annoy me with your Farmville updates on Facebook" /></a></li>
  <li><a href="http://www.linkedin.com/in/lreilly"><img src="images/linked_in.png" alt="Connect with me on LinkedIn" /></a></li>
</ul>
</center>

<div id="sidebar_full">
<ul>
 <li><div id="about">
 <div class="sidebarbox">
 <h2 id="mememe">("me "*3).rstrip</h2>
 <p><span id="mememe-content">I am a software developer working for <span property="v:affiliation">Lawrence Livermore National Laboratory</span> at the DOE Joint Genome Institute</span> 
 [<a href="http://www.youtube.com/watch?v=qchN5FX_QN0&hd=1" rel="prettyPhoto" title="">more</a>]</p>
 </div></div>
 </li>
</ul>

</div><!-- Closes Sidebar_full -->

<div id="sidebar_left">
<ul>

<li>
<div class="sidebarbox">
<h2 id="Radio?">PLAY</h2>
<p><center>&uarr;<br />&uarr;<br />&darr;<br />&darr;<br />&larr;<br />&rarr;<br />&larr;<br />&rarr;<br />&#66;<br />&#65;<br />START</center></p>
</div>
</li>

</ul>

</div> <!-- Closes Sidebar_left -->

<div id="sidebar_right">

<ul>

<li>
<div class="sidebarbox">
<h2 id="uc">Meta</h2>
<dl>
  <dt>Location</dt>
  <dd>San Francisco Bay Area, CA</dd>
  <dt></dt>
  <dd></dd>
</dl>
</div>
</li>

</ul>

<ul>

</ul>

</div> <!-- Closes Sidebar_right -->

<div class="cleared"></div>

<!--<center>
  <p id="copyright"><strike>Copyright &copy; 1979 - <%= Time.new.year %> Lee Reilly</strike></p>
  <a href="http://www.kopimi.com"><img src="http://www.kopimi.com/kopimi/copymeyy.gif"/></a><br/>
</center>-->

</div> <!-- Closes Sidebars -->
</div>
